.wrapper {
  text-align: center;
}

.logos {
  height: 30vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoReact {
  height: 24vmin;
}

.logoRedux {
  height: 23vmin;
}

.logoGraph {
  height: 19vmin;
}

.logoImmutable {
  height: 6.5vmin;
}

.logoStorybook {
  height: 10vmin;
}

.logoSpin {
  animation: Sample-logo-spin infinite 20s linear;
}

@keyframes Sample-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
