.wrapper {
  padding: 2vmin;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title span .titleIcon{
  margin-right: 1vmin;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.chart {
  margin: auto;
}

@media only screen and (max-width: 1336px) {
  .chart {
    width: 100%;
    margin-top: 24px;
  }
  .chart:first {
    margin-top: 0px;
  }
}
