.wrapper {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.samples {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}
