.wrapper {
  text-align: center;
  font-size: 2vmin;
  margin: 2vmin;
  padding: 2vmin;
  max-width: 20vmin;
}

.title {
  font-size: 2vmin;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.emoji,
.emoji:hover {
  text-decoration: none;
  margin: auto;
}

.number {
  font-size: 3vmin;
  width: 10vmin;
  font-family: monospace;
  background: inherit;
  border: 0;
  color: #fff;
  text-align: center;
  margin: auto;
}
